<!DOCTYPE html>
<html>
  <head>
    <title>PopulationPopPuzzle</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preload" href="http://localhost:3000/packs/js/application-a0ed82f2e41efaf244e1.js" as="script">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2&display=swap" rel="stylesheet"> <!-- 追加 -->
    <link rel="icon" href="<%= asset_path 'logo.png' %>" type="image/png"> <!-- 追加 -->
  </head>

  <body>
  <header class="bg-secondary text-white p-3 d-flex justify-content-between align-items-center">
  <div>
    <%= link_to 'PopulationPopPuzzle', root_path, class: 'text-white' %>
  </div>
  <div class="ml-auto dropdown">
    <% if user_signed_in? %>
      <a class="dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= current_user.name %>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
        <%= link_to 'プロフィール詳細', profile_path(current_user), class: 'dropdown-item' %>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
      </div>
    <% else %>
      <a class="dropdown-toggle" href="#" id="guestDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        ゲスト
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="guestDropdown">
        <%= link_to 'ログイン', new_user_session_path, class: 'dropdown-item' %>
        <%= link_to '新規登録', new_user_registration_path, class: 'dropdown-item' %>
      </div>
    <% end %>
  </div>
  </header>

  <div class="container mt-5">
  <% flash.each do |key, value| %>
    <div class="flash <%= key %> alert alert-<%= key == 'notice' ? 'success' : 'danger' %>"><%= value %></div>
  <% end %>
  <%= yield %>
</div>

    <footer class="bg-secondary text-white text-center p-3 mt-5">
      <%= link_to '利用規約', terms_path, class: 'text-white' %> |
      <%= link_to 'プライバシー', privacy_path, class: 'text-white' %> |
      <%= link_to 'お問い合わせ', contact_path, class: 'text-white' %>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>